<%

%>

<div class="container text-center pt-9">
  <div class="display-1 text-muted mb-5"><%= t("errors.bigbluebutton.title") %></div>
  <h1 class="h2 mb-3"><%= t("errors.bigbluebutton.message") %></h1>
<<<<<<< HEAD
  <p class="h4 text-muted font-weight-normal mb-7"><%= t("errors.bigbluebutton.help", doc_link: "http://vconnect.greenlife-vn.com/").html_safe %></p>
=======
  <p class="h4 text-muted font-weight-normal mb-7"><%= t("errors.bigbluebutton.help", doc_link: "http://vconnect.greenlife-vn.com/").html_safe %></p>
>>>>>>> 57aa70c168218875f131b3d8712c3ee1e92256c5
</div>
